$simple-file-primary-color: $simple-primary-color !default;
$simple-file-hover-color: $simple-hover-color !default;
$simple-file-disabled-color: $simple-disabled-color !default;
$simple-file-border-width: $simple-border-width !default;
$simple-file-border-style: $simple-border-style !default;
$simple-file-border-color: $simple-border-color !default;
$simple-file-border-radius: $simple-border-radius !default;
$simple-file-animation-speed: $simple-animation-speed !default;
$simple-file-icon-color: $simple-icon-color !default;
$simple-file-width: 256px !default;
$simple-file-height: 34px !default;

@keyframes translatePath {
  to {
    transform: translate(calc(-100% + -#{$simple-file-width / 2}), -50%);
  }
}

@mixin simple-file-input($namespace: $simple-namespace, $prefix: #{$namespace}file) {
  .#{$prefix}-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: $simple-file-width;
    height: $simple-file-height;
    background-color: $simple-file-primary-color;
    user-select: none;
    cursor: pointer;
    border: {
      width: $simple-select-border-width;
      style: $simple-select-border-style;
      color: $simple-select-border-color;
      radius: $simple-select-border-radius;
    };

    &:hover {
      background-color: $simple-file-hover-color;

      .path {
        color: $simple-text-hover-color;
      }
    }

    &.disabled {
      background-color: $simple-file-disabled-color;
      cursor: default;
    }

    &.multiple {
      .path.animated {
        animation-play-state: paused;
      }

      &:hover .path.animated {
        overflow: visible;
        animation: translatePath 5s infinite linear;
        animation-play-state: running;
        transform: translate($simple-file-width / 2, -50%);
      }
    }

    .path {
      position: absolute;
      max-width: calc(100% - #{2 * $simple-input-padding});
      top: 50%;
      left: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: $simple-text-color;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    .clear {
      position: absolute;
      content: '';
      top: 50%;
      right: 0.75rem;
      width: 0.75rem;
      height: 0.75rem;
      background-color: $simple-file-icon-color;
      -webkit-mask: $simple-clear-icon no-repeat 50% 50%;
      mask: $simple-clear-icon no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      opacity: 1;
      transition: opacity $simple-file-animation-speed ease, transform $simple-file-animation-speed ease;
      transform: translateY(-50%) scale(1) rotate(0);

      &.hidden {
        opacity: 0;
      }

      &:hover {
        transform: translateY(-50%) scale(1.25) rotate(90deg);
      }
    }
  }
}
