$simple-radio-button-primary-color: $simple-primary-color !default;
$simple-radio-button-hover-color: $simple-hover-color !default;
$simple-radio-disabled-color: $simple-disabled-color !default;
$simple-radio-button-size: $simple-button-size !default;
$simple-radio-border-width: $simple-border-width !default;
$simple-radio-border-style: $simple-border-style !default;
$simple-radio-border-color: $simple-border-color !default;
$simple-radio-border-radius: $simple-border-radius !default;
$simple-radio-icon-color: $simple-icon-color !default;
$simple-radio-button-animation-speed: $simple-animation-speed !default;

@mixin simple-radio-button($namespace: $simple-namespace, $prefix: #{$namespace}radio) {
  .#{$prefix}-container {
    display: inline-block;
    position: relative;
    width: $simple-radio-button-size;
    height: $simple-radio-button-size;
    background-color: $simple-radio-button-primary-color;
    cursor: pointer;
    border: {
      width: $simple-select-border-width;
      style: $simple-select-border-style;
      color: $simple-select-border-color;
      radius: $simple-select-border-radius;
    };

    &:hover {
      background-color: $simple-radio-button-hover-color;
    }

    &.disabled {
      background-color: $simple-radio-disabled-color;
      cursor: default;
    }

    .#{$namespace}radiomark {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity $simple-radio-button-animation-speed ease;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: $simple-radio-button-size * $simple-radiomark-multiplier;
        height: $simple-radio-button-size * $simple-radiomark-multiplier;
        background-color: $simple-radio-icon-color;
        -webkit-mask: $simple-radio-icon no-repeat 50% 50%;
        mask: $simple-radio-icon no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;
        transform: translate(-50%, -50%);
      }
    }

    input[type="radio"][checked] + .#{$namespace}radiomark {
      opacity: 1;
    }
  }
}
